*
{
	margin: 0;
	padding: 2;
}
body
{
    font-family: sans-serif;
    background-image: linear-gradient(to right, #1a1a1a, #001a09);
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right,  #009933, #006622);
	padding: 0 !important;
}
.navbar-nav
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}

/*------------banner section-----------*/

#banner
{
	background-image: linear-gradient(to right, #1a1a1a, #001a09);
	color: #fff;
	padding-top: 2%;
}
.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}
