/* Navbar */

.navbar{
    position: relative;
    z-index: 1;
}

.navbar-brand{
    font-family: Spartan;
    font size: 34px;
}



/* Jumbotron */
.jumbotron{
    background-image: url(../img/jumbotron-bg2.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,rgba(0,0,0,1), rgba(0,0,0,0) );
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin-bottom: 32px;
}

.jumbotron .display-4 span{
    font-weight: 500;
}



/* Info Panel */
.info-panel{
    box-shadow: 0 3px 20px  rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -110px;
    background-color: white;
    padding: 30px;
}
.info-panel img{
    width: 80px;
    height:80px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}
.info-panel p{
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}


/* Main Content */
.main-content{
    margin-top: 120px;
    text-align: center;
}
.main-content h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 25px;
}
.main-content h3 span{
    font-weight: 500;
}
.main-content p{
    font-size: 18px;
    color: #ACACAC;
    font-weight: 190
    margin: 30px 0;
}


/* Testimoni */
  .testimoni{
      margin-top: 120px;
  }
  .testimoni h5{
      text-align: center;
      font-weight: 200;
      font-style: italic;
      font-size: 24px;  
  }
  .testimoni figure img{
      width: 70px;
      margin: 20px 10px 10px;  
      opacity: 0.6;
  }
  .testimoni figure img.menonjol{
      width: 90px;
      opacity: 1;
      margin-top: 5px ;
  }
  .testimoni figure h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
  }
  .testimoni figure p{
      font-size: 12px;
      color: #ACACAC;
      margin-top: -5px;
  }
  .testimoni figcaption{
    text-align: center;
  }

/*Footer Template */
.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }


/* Footer */
.footer-rounded{
    border-radius: 40px;
}



/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
}


/* DESKTOP VERSION */
@media (min-width: 992px) {

    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }   

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 4px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -9px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 640px;
    }
    .jumbotron .display-4{
        font-size: 62px;
    }
    .main-content{
        text-align: left;
    }
    .testimoni h5{
        font-size: 32px;
    }

}